<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>My Portfolio</title>
</head>
<body>
    
        <label for="toggle"><i class="far fa-user-circle"></i></label>
        <input type="checkbox" id="toggle">
        <nav>
            <img src="../public/images/profile image2.jpg" alt="">
        
            <h2>Portfolio</h2>
        
            <ul><a href=""></a>
                <li><a href="#gallery"><p><i class="far fa-image"></i>Portfolio</p></a></li>
                <li><a href="#aboutme"><p><i class="far fa-user"></i>About</p></a></li>
                <li><a href="#contactme"><p><i class="far fa-envelope"></i>Contact</p></a></li>        
            </ul>
            <p><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-snapchat"></i><i class="fab fa-twitter"></i><i class="fab fa-linkedin"></i></p>
        </nav>
    <div class="left-column-wrapper">        
    </div>
    <div class="wrapper">
        <header>
            <h1>My Portfolio</h1>
            <p>Filter: <span>ALL</span> <span>Design</span> <span>Photos</span> <span>Art</span></p>
            <hr>
        </header>   
        <main>
            <section class="gallery" id="gallery">
                <div class="scene">
                    <div class="card">
                      <div class="card__face card__face--front">
                          <img src="../public/images/image1.jpg" alt="">
                          <div class="caption front-caption">
                                <h3>Lorem Ipsum</h3>
                                Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                          </div>
                      </div>
                      <div class="card__face card__face--back">
                           <div class="caption back-caption">
                                Lorem Ipsum!
                          </div>
                      </div>
                    </div>
                </div>
                <div class="scene">
                    <div class="card">
                      <div class="card__face card__face--front">
                          <img src="../public/images/image2.jpg" alt="">
                          <div class="caption front-caption">
                                <h3>Lorem Ipsum</h3>
                                Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                          </div>
                      </div>
                      <div class="card__face card__face--back">
                           <div class="caption back-caption">
                                Lorem Ipsum!
                          </div>
                      </div>
                    </div>
                </div>
                <div class="scene">
                    <div class="card">
                      <div class="card__face card__face--front">
                          <img src="../public/images/image3.jpg" alt="">
                          <div class="caption front-caption">
                                <h3>Lorem Ipsum</h3>
                                Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                          </div>
                      </div>
                      <div class="card__face card__face--back">
                           <div class="caption back-caption">
                                Lorem Ipsum!
                          </div>
                      </div>
                    </div>
                </div>
                <div class="scene">
                    <div class="card">
                      <div class="card__face card__face--front">
                          <img src="../public/images/image4.jpg" alt="">
                          <div class="caption front-caption">
                                <h3>Lorem Ipsum</h3>
                                Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                          </div>
                      </div>
                      <div class="card__face card__face--back">
                           <div class="caption back-caption">
                                Lorem Ipsum!
                          </div>
                      </div>
                    </div>
                </div>
                <div class="scene">
                    <div class="card">
                      <div class="card__face card__face--front">
                          <img src="../public/images/image5.jpg" alt="">
                          <div class="caption front-caption">
                                <h3>Lorem Ipsum</h3>
                                Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                          </div>
                      </div>
                      <div class="card__face card__face--back">
                           <div class="caption back-caption">
                                Lorem Ipsum!
                          </div>
                      </div>
                    </div>
                </div>
                <div class="scene">
                    <div class="card">
                      <div class="card__face card__face--front">
                          <img src="../public/images/image6.jpg" alt="">
                          <div class="caption front-caption">
                                <h3>Lorem Ipsum</h3>
                                Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                          </div>
                      </div>
                      <div class="card__face card__face--back">
                           <div class="caption back-caption">
                                Lorem Ipsum!
                          </div>
                      </div>
                    </div>
                </div>
            </section>
            <section class="pagination">
                <ul>
                    <li>&laquo</li>                    
                    <li>1</li>                    
                    <li>2</li>                    
                    <li>3</li>                    
                    <li>4</li>                    
                    <li>&raquo</li>                    
                </ul>
            </section>
            <section class="aboutme" id="aboutme">
                    <figure>
                            <img src="../public/images/profile image1.jpg" alt="">

                    </figure>
                    <figure>
                            <img src="../public/images/profile image2.jpg" alt="">
                    </figure>
            </section>
            <section class="aboutme2">
                <h2>About Me</h2>    
                <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                <h3>Technical Skills</h3>
                <p>Photography</p>
                <div class="skill-meter">
                    <div class="photo-meter"><p>97%</p></div>
                </div>
                <p>Web Design</p>
                <div class="skill-meter">
                    <div class="web-design-meter"><p>85%</p></div>
                </div>
                <p>Photoshop</p>
                <div class="skill-meter">
                    <div class="photoshop-meter"><p>80%</p></div>
                </div>
                <div class="download-resume"><i class="fas fa-download"></i><p>Download Resume</p></div>
            </section>
            <p class="charge">How much I charge</p>
            <section class="price">
                <class class="price-column">
                    <ul>
                        <li><p>Basic</p></li>
                        <li><p>Web Design</p></li>
                        <li><p>Photography</p></li>
                        <li><p>1GB Storage</p></li>
                        <li><p>Mail Support</p></li>
                        <li><p>$10 per month</p></li>
                        <li><p>Sign Up</p></li>
                    </ul>
                </class>
                <class class="price-column">
                    <ul>
                        <li><p>Pro</p></li>
                        <li><p>Web Design</p></li>
                        <li><p>Photography</p></li>
                        <li><p>50GB Stroage</p></li>
                        <li><p>Endless Support</p></li>
                        <li><p>$25 per month</p></li>
                        <li><p>Sign Up</p></li>
                    </ul>
                </class>
                <class class="price-column">
                    <ul>
                        <li><p>Premium</p></li>
                        <li><p>Web Design</p></li>
                        <li><p>Photography</p></li>
                        <li><p>Unlimited Storage</p></li>
                        <li><p>Endless Support</p></li>
                        <li><p>$25 per month </p></li>
                        <li><p>Sign Up</p></li>
                    </ul>
                </class>
            </section>
            <section class="contactme" id="contactme">
                <h2>Contact Me</h2>
                <ul>
                    <li><i class="far fa-envelope"></i><p>email@email.com</p></li>
                    <li><i class="fas fa-map-marker-alt"></i><p>Toronto, ON</p></li>
                    <li><i class="fas fa-phone"></i><p>416-555-5555</p></li>
                </ul>
                <div class="line"></div>
                <div>
                    <label for="name"><p>Name</p></label>
                    <br>
                    <input type="text" id="name" name="Name" required> 
                </div>
                <div>
                    <label for="email"><p>Email</p></label>
                    <br>
                    <input type="email" id="email" name="Email" required>    
                </div>
                <div>
                    <label for="message"><p>Message</p></label>
                    <br>
                    <input type="textarea" id="message" name="Message">   
                </div>
                <button><i class="far fa-paper-plane"></i> Send Message</button>
            </section>
            
        </main>
        <footer>
            <div class="footer-wrapper">
                <div class="footer">
                    <h2>FOOTER</h2>
                    <P>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</P>
                </div>
        </footer>
    </div>
<script>
    var cards = document.querySelectorAll('.card');
    cards.forEach(card => {
    card.addEventListener( 'click', function() {
        card.classList.toggle('is-flipped');
    });
    })
</script>
</body>
</html>